
.selector {
    top: -6px;
    padding: 2px 6px;
    overflow: none !important;
    z-index: 1000000 !important;
    background-image: none !important;
    background: #87C687 !important;
    //border: 1px solid white;
    border-radius: 15px;
    box-shadow: inset 0 3px 3px #fff, inset 0 4px 10px #fafafa, 0 1px 2px #0A260A;
}
.dhtmlxSlider_dhx_skyblue {
    margin: 5px auto 10px;
    height: 7px !important;
    overflow: visible !important;
    background-image: none !important;
    background: #91D691;
    border: 1px solid white;
}
.selector:hover, .selector:active {
    top: -7px;
    box-shadow: inset 0 3px 3px #fff, inset 0 4px 10px #fafafa, 0 2px 2px #0A260A;
}
hr {
    color: blue !important;
}
/* End default skin */
/* Skyblue skin */
.dhtmlxSlider_dhx_skyblue {
  position:relative;
  overflow:hidden;
  height:15px;
  left:10px; 
}

.dhtmlxSlider_dhx_skyblue .selector {

  position:absolute;
  overflow:hidden;
  height:15px;
  width:15px;
  left:0px;
}

.dhtmlxSlider_dhx_skyblue .leftSide {
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:100%;
}

.dhtmlxSlider_dhx_skyblue .leftZone {
  position:absolute;
  top:0px;
  left:0px;
  height:100%;

}

.dhtmlxSlider_dhx_skyblue .rightSide {
    position:absolute;
    right:0px;
    top:0px;
    width:0px;
    height:100%;
}

.dhtmlxSlider_dhx_skyblue .rightZone {
  position:absolute;
  left:3px;
  top:0px;
  height:100%;
}

/* End zipper skin */